<?xml version="1.0" encoding="utf-8"?>
<manifest package="{{androidIdentifier}}" version="1.0.0" api-version="4.0" xmlns="http://tizen.org/ns/packages">
    <profile name="common"/>
    <ui-application appid="{{androidIdentifier}}" exec="runner" type="capp" multiple="false" nodisplay="false" taskmanage="true" hw-acceleration="on">
        <label>{{projectName}}</label>
        <icon>ic_launcher.png</icon>
    </ui-application>
    <privileges>
        <privilege>http://tizen.org/privilege/appmanager.launch</privilege>
    </privileges>
    <feature name="http://tizen.org/feature/screen.size.all"/>
</manifest>
