<?xml version="1.0" encoding="utf-8"?>
<manifest package="{{androidIdentifier}}" version="1.0.0" api-version="4.0" xmlns="http://tizen.org/ns/packages">
    <profile name="common"/>
    <ui-application appid="{{androidIdentifier}}" exec="Runner.dll" type="dotnet" multiple="false" nodisplay="false" taskmanage="true" api-version="4">
        <label>{{projectName}}</label>
        <icon>ic_launcher.png</icon>
        <metadata key="http://tizen.org/metadata/prefer_dotnet_aot" value="true"/>
    </ui-application>
    <tv-info api-version="8.8.0">
        <infolink>T-INFOLINK2021-1000</infolink>
    </tv-info>
    <feature name="http://tizen.org/feature/screen.size.all"/>
</manifest>
